/* Your custome CSS goes here */

#mainContent {
    margin-top: 4em;
    margin-bottom: 4em;
}

nav {
    opacity: 80%;
}

#result {
    margin-left: 10px;
    
}

.minRangeValue, .maxRangeValue, #result {
    min-height:  40px;
}